.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local config
config/default.local.js

# Custom assets
src/assets/custom/*
!src/assets/custom/.gitkeep
!src/assets/custom/lyrics.json.example

# Dist build
dist/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
